.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid black;
    background-color: orange;
}

.header a {
    text-decoration: none;
    color: black;
}

.header h1 {
    margin: 0;
}

.headerActions {
    display: flex;
    align-items: center;
}

.headerActions button {
    margin-left: 10px;
    color: green;
    border: 2px solid green;
    border-radius: 6px;
    background-color: transparent;
}